/* === Variables === */
:root {
    --white: #FFFFFF;
    --dark: #242424;
    --light: #EEEEEE;
    --hard-gray: #555555;
    --light-gray: #B9B9B9;
    --light-pink: #C44E8E;
    --hard-pink: #8E3B68;
    --helvetica: Helvetica, sans-serif;
    --alexandria: 'Alexandria', sans-serif;;
}

/* === Globals === */
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
    background-color: var(--white);
    font-family: var(--helvetica);
    padding: 0;
}

h1, 
h2, 
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* === Generals === */
.content {
    max-width: 120rem;
    margin: 0 auto;
}

.logo {
    color: var(--hard-pink);
    font-family: var(--alexandria);
    font-weight: bold;
}

.logo span {
    font-weight: lighter;
}

.container {
    margin-top: 7.7rem;
}

/* --- Search input --- */

input {
    border: none;
}

::placeholder {
    color: var(--light-gray);
}

.search-input {
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
    position: absolute;
    outline: none;
}

/* --- Heros --- */
.main-hero-content {
    background-image: url('./images/52f2bc8cdaebe7459379f9891eb5158d.png');
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Buttons --- */
button {
    border: none;
}

.main-button {
    background-color: var(--light-pink);
    color: var(--white);
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color .4s ease-in;
}

.main-button:hover {
    cursor: pointer;
    background-color: var(--hard-pink);
}

.search-button {
    position: relative;
    top: 0;
    left: 20%;
}

/* --- Titles ---*/
.main-title {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;   
    color: var(--light-pink);
    font-weight: bold;
    font-size: 4rem;
    font-family: var(--alexandria);
}


/* === Navegation === */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 2rem 0;
    top: 0;
    background-color: var(--white);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.45);
    box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.45);
}

.navbar img {
    width: 3rem;
}

.navbar-items {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-items nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.navbar-items ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.navbar-items li {
    font-size: 2rem;
    transition: color .4s ease-in-out;
    color: var(--light-gray);
}

.navbar-items li:hover {
    cursor: pointer;
    color: var(--hard-gray);
}

/* === Content === */
.gaceta {
    text-align: center;
}